importFrom(Rcpp,sourceCpp)
useDynLib(MeRIPtools)
exportPattern("^[[:alpha:]]+")


import(BSgenome)
import(DESeq2)
import(GenomicRanges)
import(Guitar)
#import(QNB)
import(broom)
#import(gamlss)
#import(gamlss.dist)
import(rtracklayer)
import(stringr)
import(vcfR)
